version: '3.5'

services:

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: client-container
    depends_on:
      - server

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: server-container
    volumes:
    - "server-vol:/tmp/"

volumes:
  server-vol:
